Print

In [9]:
print('What to print?')
print("print('what to print?')")

What to print?
print('what to print?')

Slashing

In [10]:
print( ' Hello World \n Hello World \n Hello World \n Hello World  ')

 Hello World
 Hello World
 Hello World
 Hello World

In [11]:
print('Hello World \n' *10)

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

Concatenation

In [17]:
print('Hello '+ 'Shanza')
print('Hello'+ " "+ 'Shanza')

Hello Shanza
Hello Shanza

F - STRING

In [2]:
name= 'Shanza Sayeed Siddiqui'
print(f'Hello, my name is {name}')

Hello, my name is Shanza Sayeed Siddiqui

User Input

In [25]:
name=input('What is your name?')
print(name)
print('Hello' + " " + name)
print('Hey '+ name+ ',' +'How are you?' )

1
Hello 1
Hey 1,How are you?

In [26]:
print('Hey '+ input('What is your name?')+','+ ' How are you?' )

Hey Shanza, How are you?

Length

In [33]:
name=input('What is your name?')
age = input('What is your age?')
city=input('Where do you live?')
print(len(name))
print(len(age))
print(len(city))

6
2
7

Swap two numbers

In [35]:
n1=int(input('Enter first number'))
n2=int(input('Enter second number'))
print('Before swapping n1 is ' , n1)
print('Before swapping n2 is ' , n2)
t=n1
n1=n2
n2=t
print('After swapping n1 is ' , n1)
print('After swapping n2 is ' , n2)

Before swapping n1 is  4
Before swapping n2 is  8
After swapping n1 is  8
After swapping n2 is  4

type checking

In [39]:
name='Shanza'
age=50
sal=67000.5
emp=True
set1={1,5}
list1=[2,3]
tuple1=(5,6)
dict1={1:'Shanza'}
print(type(name))
print(type(age))
print(type(sal))
print(type(set1))
print(type(list1))
print(type(tuple1))
print(type(dict1))
print(type(emp))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'set'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'bool'>

In [10]:
True
False
True+False
False+True
False*True
False/True
False//True

0

In [18]:
f=5+4j
type(f)

complex

In [25]:
g=8j
type(g)

complex

In [24]:
f.real

5.0

In [22]:
f.imag

4.0

type conversion

In [4]:
a=10
b=20
print(a+b)
print(str(a)+str(b))
print(float(a)+float(b))

30
1020
30.0

In [5]:
name='123'
print(10+ int(name))

133

String

In [51]:
#INDEXING
n='Shanza Sayeed Siddiqui '
print(n[4])
print(n[-8])

z
i

In [63]:
#SLICING
print(n[0:6])
print(n[:6])
print(n[7:13])
print(n[14:22])
print(n[14:])
print(n[:])
print(n[-9:-1])
print(n[0:-1:2])
print(n[:6:3])
print(n[::2])
print(n[::-1])
print(n[::-2])

Shanza
Shanza
Sayeed
Siddiqui
Siddiqui
Shanza Sayeed Siddiqui
Siddiqui
Saz aedSdiu
Sn
Saz aedSdiu
 iuqiddiS deeyaS aznahS
 uidSdea zaS

In [78]:
#VALIDATION METHODS
m=input('Enter something')
if m.isalpha():
    print(m + ' is alpha')
else:
    print(m +' is not alpha')

shnza is alpha

In [81]:
a=input('enter something')
if a.isnumeric():
    print(a + ' is numeric')
else:
    print(a +' is not numeric')

456778h is not numeric

In [84]:
b=input('enter something')
if b.isalnum():
    print(b + ' is alphanumeric')
else:
    print(b +' is not alphanumeric')

fhsghs5% is not alphanumeric

In [87]:
d=input('enter something')
if d.isspace():
    print(d + ' is space')
else:
    print(d +' is not space')

     is space

In [90]:
e=input('enter something')
if e.istitle():
    print(e + ' is titlecase')
else:
    print(e +' is not titlecase')

dsgghs gsjs is not titlecase

In [94]:
u=input('enter something')
if u.isupper():
    print(u + ' is uppercase')
else:
    print(u +' is not uppercase')

SGHDFV ihnbn is not uppercase

In [97]:
s=input('enter something')
if s.startswith('a'):
    print('true')
else:
    print(' false')

 false

In [99]:
s=input('enter something')
if not s.startswith('a'):
    print('true')
else:
    print(' false')

true

In [9]:
#Formatting methods
name1 = 'journey before Destination'
print(name1.upper())
print(name1.lower())
print(name1.title())
print(name1.capitalize())
print(name1.swapcase())
print(name1.casefold())

JOURNEY BEFORE DESTINATION
journey before destination
Journey Before Destination
Journey before destination
JOURNEY BEFORE dESTINATION
journey before destination

In [11]:
#UTILITY METHODS
s ='this is an example string,this is a simple string'
print( s.count('is'))
print(s.count('t'))
tv = s.count('a') + s.count('e') + s.count('i') + s.count('o') + s.count('u')
print(tv)

4
4
13

In [12]:


print(s.find('example'))
print(s.find('is'))
print(s.find('is' ,3))
print(s.find('is' ,6))
print(s.find('ex'))

11
2
5
28
11

In [13]:
s.replace('is','was')

'thwas was an example string,thwas was a simple string'

In [15]:
words = s.split()
print(words)

['this', 'is', 'an', 'example', 'string,this', 'is', 'a', 'simple', 'string']

In [16]:
s.split(',')

['this is an example string', 'this is a simple string']

In [20]:
words= ['one','two','three','four']
" " .join(words)

'one two three four'

In [26]:
x = '     shanza     '
print(x)
print(x.strip())

     shanza
shanza