Dictionary

-ordered
-mutable
-heterogenous -data is stored in key value pairs
              -keys are immutable and unique
              -value can be mutable or immutablr and can be duplicate and have any type

-unindexed
-represented by {} curly braces
-dict() that can take key value pair as argument.

In [1]:
#creating dictionary
fruits = {
    "apple":2,
    "banana":3,
    "orange":5
}

In [3]:
grocery = {
    'fruits':['apple','banana','orange','grape'],
    'vegetables':['carrot','lettuce','onion'],
    'dairy':['milk','cheese','yoghurt'],
    'meat':None
    }

In [12]:
reports = {
    'rajesh':{
        'english':90,
        'math':80,
        'science': 68

    },
    'suresh':{
        'english': 97,
        'math':70,
        'science': 88
    },
}

In [8]:
from pprint import pp

In [13]:
pp(fruits)
pp(grocery)
pp(reports)

{'apple': 2, 'banana': 3, 'orange': 5, 'mango': 25}
{'fruits': ['apple', 'banana', 'orange', 'grape'],
 'vegetables': ['carrot', 'lettuce', 'onion'],
 'dairy': ['milk', 'cheese', 'yoghurt'],
 'meat': None}
{'rajesh': {'english': 90, 'math': 80, 'science': 68},
 'suresh': {'english': 97, 'math': 70, 'science': 88}}

fetch 
update 
adding
deleting

In [9]:
fruits['apple']   #retrieve value from dictionary
pp(fruits)

{'apple': 2, 'banana': 3, 'orange': 5}

In [11]:
fruits['mango'] = 25 #add new key value pair in dictionary
pp(fruits)

{'apple': 2, 'banana': 3, 'orange': 5, 'mango': 25}

In [15]:
grocery['spices'] = ['cumin','coriander','turmeric'] #add new key-value pair in dictionary
pp(grocery)

{'fruits': ['apple', 'banana', 'orange', 'grape'],
 'vegetables': ['carrot', 'lettuce', 'onion'],
 'dairy': ['milk', 'cheese', 'yoghurt'],
 'meat': None,
 'spices': ['cumin', 'coriander', 'turmeric']}

In [20]:
grocery['fruits']

['apple', 'banana', 'orange', 'grape']

In [21]:
type(grocery['fruits'])

list

In [22]:
grocery['fruits'].append('mango') #add new value in list
pp(grocery)

{'fruits': ['apple', 'banana', 'orange', 'grape', 'mango'],
 'vegetables': ['carrot', 'lettuce', 'onion'],
 'dairy': ['milk', 'cheese', 'yoghurt'],
 'meat': None,
 'spices': ['cumin', 'coriander', 'turmeric']}

In [23]:
reports['rajesh']['evs']=99
pp(reports)

{'rajesh': {'english': 90, 'math': 80, 'science': 68, 'evs': 99},
 'suresh': {'english': 97, 'math': 70, 'science': 88}}

In [24]:
fruits.pop('banana')

3

In [25]:
reports.pop('rajesh')

{'english': 90, 'math': 80, 'science': 68, 'evs': 99}

In [26]:
reports

{'suresh': {'english': 97, 'math': 70, 'science': 88}}

In [27]:
pp(grocery)

{'fruits': ['apple', 'banana', 'orange', 'grape', 'mango'],
 'vegetables': ['carrot', 'lettuce', 'onion'],
 'dairy': ['milk', 'cheese', 'yoghurt'],
 'meat': None,
 'spices': ['cumin', 'coriander', 'turmeric']}

In [28]:
grocery['vegetables'].remove('onion') #remove value from list

In [29]:
fruits.keys() #get all keys from dictionary

dict_keys(['apple', 'orange', 'mango'])

In [30]:
fruits.values()   #get all values from dictionary

dict_values([2, 5, 25])

In [31]:
fruits.items()    #get all key value pairs from dictionary

dict_items([('apple', 2), ('orange', 5), ('mango', 25)])

In [33]:
#traversal
for k,v in fruits.items():
    print(k,v)

apple 2
orange 5
mango 25

In [34]:
reports['suresh']['english']

97

In [38]:
reports.get('suresh')

{'english': 97, 'math': 70, 'science': 88}

In [42]:
reports.get('ramesh')

In [44]:
reports.get('suresh', 'no student')

{'english': 97, 'math': 70, 'science': 88}

In [46]:
reports['sunita'] = {
    'english':90,
    'maths':80,
    'science':78
    }
pp(reports)

{'suresh': {'english': 97, 'math': 70, 'science': 88},
 'sunita': {'english': 90, 'maths': 80, 'science': 78}}

In [47]:
for student, details in reports.items():
    print(student)
    for subject,marks in details.items():
        print(f'{marks} in {subject}')
        print('---' *10)

suresh
97 in english
------------------------------
70 in math
------------------------------
88 in science
------------------------------
sunita
90 in english
------------------------------
80 in maths
------------------------------
78 in science
------------------------------

# create a dictionary of 5 employee with details

In [51]:
employee = {
    'e1':{
        'name': Amit,
        'department': HR,
        'salary': 80000,
        'skills' : ['communication','management'],
        'projects':{
            'project1':{
                'project_name':'HRMS',
                'project_duratin':6,
                'project_tech':['excel','power bi','powerpoint']
                                        }        }

    }
    
    
    
}

NameError: name 'Amit' is not defined