In [1]:
x=[1,2,3,4,5,6,7,8,9,10]
y=[]
z=['apple','cherry','banana','orange']
a=['alex',5,'sam',7,'john',10]
a3=[[1,2,3],
    [4,5,6],
    [7,8,9]]

In [16]:
class Movie:
    def __init__(self,name,year):
        self.name=name
        self.year=year

In [13]:
movies=[
        Movie("the matrix",1999),
        Movie("the matrix reloaded",2003),
        Movie("The matrix revolutions",2003),
        Movie("the matrix resurrection",2021)
       ]

In [1]:
name = 'Shanza Sayeed Siddiqui'
list(name)

['S',
 'h',
 'a',
 'n',
 'z',
 'a',
 ' ',
 'S',
 'a',
 'y',
 'e',
 'e',
 'd',
 ' ',
 'S',
 'i',
 'd',
 'd',
 'i',
 'q',
 'u',
 'i']

In [6]:
print(list(range(1,101)))
print(a[0])
print(a[-1])
print(a[-2])
print(a[1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
alex
10
john
5

In [2]:
data=list(range(1,101))
print(data[:10])
print(data[10:20])
print(data[-10:])  #last 10 elements
print(data[23:36])
print(data[1::2]) #evennumbers
print(data[::-1]) #reverse list
print(data[5:3:-1]) #reverse slice

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[6, 5]

In [8]:
for item in a:
    print(item)

alex
5
sam
7
john
10

In [8]:
movies = []
movies.append('Shrek')
movies.append('inception')
movies.append('the matrx')
movies.append('kung fu panda')
movies.append('Interstellar')
movies.append('Fast and furios 1')
movies.append('Fast and furios 2')
movies.append('Fast and furios 3')
movies.append('Fast and furios 4')
movies.append('Fast and furios 5')

In [9]:
print(movies)

['Shrek', 'inception', 'the matrx', 'kung fu panda', 'Interstellar', 'Fast and furios 1', 'Fast and furios 2', 'Fast and furios 3', 'Fast and furios 4', 'Fast and furios 5']

In [13]:
movies[2]='inception'  #update
movies

['Shrek',
 'inception',
 'inception',
 'kung fu panda',
 'Interstellar',
 'Fast and furios 1',
 'Fast and furios 2',
 'Fast and furios 3',
 'Fast and furios 4',
 'Fast and furios 5']

In [14]:
movies.insert(4,'kung fu panda 2')    #insert
movies

['Shrek',
 'inception',
 'inception',
 'kung fu panda',
 'kung fu panda 2',
 'Interstellar',
 'Fast and furios 1',
 'Fast and furios 2',
 'Fast and furios 3',
 'Fast and furios 4',
 'Fast and furios 5']

In [20]:
animelist=[]
for i in range(5):
    name=input("enter an anime")
    animelist.append(name)
print(animelist)

['death note', 'naruto', 'one piece', 'akira', 'levi']

In [19]:
x=[1,2,3,4]
y=[5,6,7,8]
x+y    #create a new list

[1, 2, 3, 4, 5, 6, 7, 8]

In [18]:
x.extend(y)    #modifies x
print(x)

[1, 2, 3, 4, 5, 6, 7, 8]

In [23]:
movies.remove('Fast and furios 3')   #the first occurance will be removed

In [24]:
movies.pop()   #remove the last element

'Fast and furios 5'

In [25]:
movies.pop(5)    #remove 5th index element

'Interstellar'

In [27]:
movies

['Shrek',
 'inception',
 'inception',
 'kung fu panda',
 'kung fu panda 2',
 'Fast and furios 1',
 'Fast and furios 4']

In [29]:
value= 'Shrek'
if value in movies:
    movies.remove(value)
else:
    print('value not found')

In [30]:
movies

['inception',
 'inception',
 'kung fu panda',
 'kung fu panda 2',
 'Fast and furios 1',
 'Fast and furios 4']

In [33]:
movies.clear()   #removes all elements

In [34]:
movies

[]

In [35]:
del a   #deletes a variable from memory

In [39]:
books = [
    'the final empire',
    'hero of ages',
    'well of ascension',
    'the way of kings',
    'words of radiance',
    'rythm of war',
    'white sand'
]

In [40]:
books.index('white sand')

6

In [10]:
x = [12,34,54,22,12,1,2,12,1,2,12,12,0,87,65]
print(x.count(1))
print(x.count(12))
print(x.count(34))

2
5
1

In [41]:
books.reverse()
print(books)

['white sand', 'rythm of war', 'words of radiance', 'the way of kings', 'well of ascension', 'hero of ages', 'the final empire']

In [42]:
books.sort()      #sorts data in ascending order of same data type
print(books)

['hero of ages', 'rythm of war', 'the final empire', 'the way of kings', 'well of ascension', 'white sand', 'words of radiance']

In [43]:
books.sort(reverse=True)
print(books)

['words of radiance', 'white sand', 'well of ascension', 'the way of kings', 'the final empire', 'rythm of war', 'hero of ages']

In [44]:
books

['words of radiance',
 'white sand',
 'well of ascension',
 'the way of kings',
 'the final empire',
 'rythm of war',
 'hero of ages']

In [45]:
books_backup = books.copy()   #a copy of variable is created at a different memory location

In [46]:
books2 = books   #both variables point to the same memory location

In [47]:
books.append('the alloy of law')
print(books)
print(books2)
print(books_backup)

['words of radiance', 'white sand', 'well of ascension', 'the way of kings', 'the final empire', 'rythm of war', 'hero of ages', 'the alloy of law']
['words of radiance', 'white sand', 'well of ascension', 'the way of kings', 'the final empire', 'rythm of war', 'hero of ages', 'the alloy of law']
['words of radiance', 'white sand', 'well of ascension', 'the way of kings', 'the final empire', 'rythm of war', 'hero of ages']

In [48]:
books2 is books      #check if memory location is same

True

In [50]:
books is books_backup

False