In [3]:
#printing
l=[1,'Shanza',54.0]
print(l)
l

[1, 'Shanza', 54.0]

[1, 'Shanza', 54.0]

In [4]:
l

[1, 'Shanza', 54.0]

In [2]:
#length
print(len(l))

3

In [4]:
#indexing
print(l[1])

Shanza

In [6]:
#converting string to list
name='shanza sayeed siddiqui'
print(list(name))

['s', 'h', 'a', 'n', 'z', 'a', ' ', 's', 'a', 'y', 'e', 'e', 'd', ' ', 's', 'i', 'd', 'd', 'i', 'q', 'u', 'i']

In [7]:
#printing a list of given range of numbers
print(list(range(1,101)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [9]:
#printing elements of list
list1=['Jaipur', 'Lucknow','Delhi','Mumbai']
for i in list1:
    print(i)

Jaipur
Lucknow
Delhi
Mumbai

In [10]:
#append
list1.append('Kanpur')
print(list1)

['Jaipur', 'Lucknow', 'Delhi', 'Mumbai', 'Kanpur']

In [11]:
#update
list1[2]='Chennai'
print(list1)

['Jaipur', 'Lucknow', 'Chennai', 'Mumbai', 'Kanpur']

In [12]:
#insert
list1.insert(2,'Delhi')
print(list1)

['Jaipur', 'Lucknow', 'Delhi', 'Chennai', 'Mumbai', 'Kanpur']

In [17]:
#user input
marks=[]
for i in range(5):
    m=input('Enter marks')
    marks.append(m)
print(marks)

['34', '45', '65', '76', '29']

In [36]:
#joining two list
l1=[3,'shanza',5]
l2=[89,56,'sayeed',5]
print(l1+l2)

[3, 'shanza', 5, 89, 56, 'sayeed', 5]

In [37]:
l2.extend('4')
print(l2)
l2.extend(l1)
print(l2)

[89, 56, 'sayeed', 5, '4']
[89, 56, 'sayeed', 5, '4', 3, 'shanza', 5]

In [40]:
#deleting
a=['shanza',0,1,2,3]
a.pop()
print(a)
a.remove('shanza')
print(a)
a.clear()
print(a)

['shanza', 0, 1, 2]
[0, 1, 2]
[]

In [62]:
#tell index
list2=[1,8,3,67,67,67]
list2.index(3)

2

In [63]:
print(list2.count(67))
print(max(list2))
list2.reverse()
print(list2)
list2.sort()
print(list2)

3
67
[67, 67, 67, 3, 8, 1]
[1, 3, 8, 67, 67, 67]

In [64]:
list2_backup=list2.copy()
print(list2_backup)

[1, 3, 8, 67, 67, 67]

nested list

In [72]:
n=[8,10,67,45,[1,5,3],6]
print(n[0])
print(n[4])
for i in n:
    print(i)
print(n[-1])
print(n[-2])

8
[1, 5, 3]
8
10
67
45
[1, 5, 3]
6
6
[1, 5, 3]

In [70]:
print(n[-2][1])

5

In [75]:
print(n[len(n)-1])

6

In [76]:
print(n[2:4])

[67, 45]

In [77]:
print(n[-2][0:2])

[1, 5]