### tuple
-python default sequential data structure
-indexed,ordered,heterogenous
-immutable
-represent by ()
-tuple is faster than list
-tuple() convert any sequence to tuple


### set
-unordered ,unindexed,mutable.

TUPLE

In [1]:
x = (1,2,3)
print(x)
print(type(x))

(1, 2, 3)
<class 'tuple'>

In [2]:
a=12,13,50
print(a)
print(type(a))

(12, 13, 50)
<class 'tuple'>

In [3]:
b=(13,)
print(b)
print(type(b))

(13,)
<class 'tuple'>

In [5]:
#tuple unpacking
x1,x2,x3=a   #a has 3 elements
print(x1,x2,x3)

12 13 50

In [7]:
a=(1,3,5,6,7,12,14,16,17)
a1 , a2 ,*a3 = a #a3 will get remaining elements as list
print(a1,a2,a3)

1 3 [5, 6, 7, 12, 14, 16, 17]

In [8]:
a[-5:]    #slicing

(7, 12, 14, 16, 17)

In [9]:
for i in a:
    print(i)

1
3
5
6
7
12
14
16
17

In [11]:
x = (1,2,3,1,2,3,1,2,3,1,2,3)
print(x.count(1))
print(x.count(2))
print(x.count(5))
print(x.index(3))   #3 is the value to search
print(x.index(3,5))   #3 is the value to search and 5 is the starting index

4
4
0
2
5

In [12]:
a=[1,2,3]
at = tuple(a)
a1 = list(at)
print(at)
print(a1)

(1, 2, 3)
[1, 2, 3]

SET

In [14]:
s={1,2,3,1,2,3,1,2,3}
print(s)
print(type(s))

{1, 2, 3}
<class 'set'>

In [17]:
s.add(3)
s.add(4)
s.add('hello')
s.add('all')
s.add('all')
s.add(3)
print(s)

{1, 2, 3, 4, 'all', 'hello'}

In [18]:
name = list("shanza sayeed")
print(name)

['s', 'h', 'a', 'n', 'z', 'a', ' ', 's', 'a', 'y', 'e', 'e', 'd']

In [19]:
#set operations
group1 = {'apple','banana','orange','grapes','mango','pineapple','watermelon'}
group2 = {'apple','grapes','mango','pineapple','watermelon','kiwi','papaya','cherry'}

In [21]:
#difference
print(group1 - group2)
print(group2 - group1)
print(group2.difference(group1))

{'orange', 'banana'}
{'kiwi', 'cherry', 'papaya'}
{'kiwi', 'cherry', 'papaya'}

In [20]:
#symmetric difference
print(group1 ^ group2)
print(group1.symmetric_difference(group2))

{'kiwi', 'cherry', 'banana', 'orange', 'papaya'}
{'kiwi', 'cherry', 'banana', 'orange', 'papaya'}

task

In [ ]:
create a list called reports that will hold report of 7 students.
each student will have a name and

SyntaxError: positional argument follows keyword argument (3651255320.py, line 2)